* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --pastel: #f0c5da;
    --arena: rgb(230, 215, 182);
    --fuego: rgba(250, 179, 179, 0.705);
}


/* Inicio header */

.header {
    background-color: #f08080;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 8vh;
    display: flex;

}

.img-hamburguer {
    padding: 1vh;
    position: static;
    height: 100%;
}

.text-menu {
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-top: 12px;
    position: relative;
}

/* Fin header */

.menu {
    list-style: none;
    padding: 0;
    background-color: #00092327;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
    top: 1vh;
}

.menu li a:hover {
    background: #ef8354;
}

.navbar {
    background-color: --var (rgba(228, 166, 52, 0.705));
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 15px, 20px;
    display: block;
    font-size: 1.1rem;
}

/* Inicio main */

.main {
    background-color: rgb(247, 238, 216);
    color: white;
    height: 82vh;
    position: relative;

}

.contenedor-box {
    position: relative;
}

.box-width {
    width: 15vw;
    height: fit-content;
    padding: 35px 20px;
    border-radius: 100% 0% 100% 0% / 40% 54% 46% 60%;
    background: #ebd5d5;
    color: coral;
    position: absolute;
    top: 4vh;
    font-family: 'Raleway', sans-serif;
}

.box1 {
    left: 15vw;
}

.box2 {
    left: 35vw;
}

.box3 {
    left: 55vw;
}

.text-box {
    text-align: center;
    margin-top: 2px;
    padding: 10px 15px;
    box-sizing: border-box;
}

p {
    --var: (--arena);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
}


.formulario {
    top: 35vh;
    left: 37vw;
    width: 26vw;
    background-color: var(--fuego);
    color: blueviolet;
    margin-top: 4rem;
    margin-right: 5rem;
    padding: 5px;
    border-radius: 2rem;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 580;
    text-align: center;
}

.aside {
    height: fit-content;
    width: 12vw;
    top: 4vh;
    border-radius: 0.5rem;
    border: 3px solid rgb(77, 206, 184);
    margin-left: 85vw;
    padding: 0.5vh 0.5vh;
    background-color: #ef8354;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: left;
    position: absolute;
}

/* Fin main */

/* Inicio footer */

.footer {
    background-color: lightgray;
    height: 10vh;
    text-align: center;
    padding-top: 2vh;
}

#text-footer {
    color: blueviolet;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    top: 5px;
    bottom: 5px
}

.img-ft {
    padding: 1.5px;
    width: 1%;
}

/* Fin footer */